/log
/target
/MTPs-Main-Container.txt
/MTPs-MockContainer.txt
/MTPs-MyContainer.txt
/APDescription.txt
/jcc.settings.xml
/MYSTRA-DESKTOP.settings.xml
/MYSTRA.settings.xml
/alvaro-XPS13-9333.settings.xml
